/*normalizer*/
*{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/*styles*/
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400i|Montserrat:400,700');

.logo{position: absolute;width: 100%;display: block;overflow: visible;top: 5%;z-index: 5;}

.logo img{display: block;margin: 0 auto;max-width:155px;min-width:150px;}

@media only screen and (min-width : 541px) {
    .bg{position: relative;margin:-10vh auto 0 auto;max-height: 620px;min-height: 560px;max-width: 620px;min-width: 320px;background: linear-gradient(45deg, rgba(12, 114, 144, 1) 0%, rgba(34, 170, 226, 1) 80%);display: block;z-index:0;}
}

@media only screen and (max-width : 540px) {
    .bg{position: relative;margin:-52vh auto 0 auto;max-height: 620px;min-height: 560px;max-width: 620px;min-width: 320px;background: linear-gradient(45deg, rgba(12, 114, 144, 1) 0%, rgba(34, 170, 226, 1) 80%);display: block;z-index:0;}
}
.main{display: block;position: absolute;width: 100%;top: 0;left: 0;}

.bg-image{height: 900px;width: 100%;display: block;background: url("../images/bg-home.png") no-repeat center center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;-webkit-background-repeat: no-repeat;-moz-background-repeat: no-repeat;-o-background-repeat: no-repeat;background-repeat: no-repeat;background-position: center;overflow: hidden;position: relative;z-index: -1;}

.title{position: absolute;width: 100%;z-index: 15;}

@media only screen and (min-width : 541px) {
    .mobtitle{max-width: 490px;position: relative; display: block;padding: 0 15px;margin: -30vh auto 0 auto;color: #FFF;font-family: 'Montserrat', sans-serif;font-size: 4vh;font-weight: bold;line-height: 1.3em;letter-spacing: 0.02em;}
}

@media only screen and (max-width : 540px) {
    .mobtitle{max-width: 280px;position: relative; display: block;margin: -65vh auto 0 auto;color: #FFF;font-family: 'Montserrat', sans-serif;font-size: 26px;font-weight: bold;line-height: 26px;}
}

.mobtitle em{font-family: 'Libre Baskerville', serif;font-weight: 400;font-style: italic;}

#stripes{display: block;height: 20px;width: 60%;background-image: repeating-linear-gradient(135deg,rgba(255, 255, 255, .85) 0%, rgba(255, 255, 255, .55) 10%, transparent 15%, transparent 50%);background-size: 10px 10px;position: relative;left: 10%;bottom: 1.7vh;}

@media only screen and (min-width : 541px) {
    .text{display: block;position: absolute;max-width: 520px;color: #FFFFFF;font-family: 'Montserrat', sans-serif;font-size: 16px;line-height: 24px;top: 10vh;left: 7%;z-index: 3;}
}

@media only screen and (max-width : 540px) {
    .text{display: block;position: absolute;max-width: 86%;color: #FFFFFF;font-family: 'Montserrat', sans-serif;font-size: .85em;line-height: 1.3em;top: 100px;left: 7%;z-index: 3;}
}

input {
-webkit-appearance: none;
-moz-appearance: none;
}

@media only screen and (min-width : 541px) {
    .emailform{position: absolute;top: 30vh;width: 100%;z-index: 4;}
}

@media only screen and (max-width : 540px) {
    .emailform{position: absolute;top: 300px;width: 100%;z-index: 4;}
}

#mc_embed_signup_scroll input{display:block;height: 50px;width: 250px;border-radius: 25px;border: 0;text-align: center;font-family: 'Montserrat', sans-serif;font-size: 12px;margin: 10px auto 10px auto;}#mc_embed_signup_scroll input::-webkit-input-placeholder {color:#d9d9d9;}#mc_embed_signup_scroll input:-moz-placeholder {color:#d9d9d9;opacity:1;}#mc_embed_signup_scroll input::-moz-placeholder {color:#d9d9d9;opacity:1;}#mc_embed_signup_scroll input:-ms-input-placeholder {color:#d9d9d9;}#mc_embed_signup_scroll input:focus{color: #595959;}

#email:after{content: '';display: block;clear: both;}

#mc-embedded-subscribe{font-size:0.8em;text-align: center;color: #FFF;font-family: 'Montserrat',sans-serif;background-color: #c56a71;margin-top: 10px;}

#mc-embedded-subscribe:hover {cursor: pointer;-moz-box-shadow:  0px 10px 20px 0px  rgba(0, 0, 0, 0.3);-webkit-box-shadow:  0px 10px 20px 0px  rgba(0, 0, 0, 0.3);box-shadow:  0px 10px 20px 0px rgba(0, 0, 0, 0.3);transition: all 300ms cubic-bezier(0,.63,.55,1);}

.warntext{width: 250px;margin: 0 auto;text-align: center;font-family: 'Montserrat', sans-serif;font-size: 12px;line-height: 18px;color: #FFF;}

#contato{position: absolute;top: 520px;font-family: 'Montserrat', sans-serif;font-size: 12px;line-height: 18px;width: 100%;text-align: center;}

#contato a:link, :visited, :hover, :active {color: white;text-decoration: none;}