/*normalizer*/
*{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/*styles*/
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400i|Montserrat:400,700');

html, body{height: 100%;width: 100%;padding: 0;}

body{background: linear-gradient(-315deg, #EDFAFF 0%, #FFFFFF 100%);}

#wrapper, #full-background{height: 100%;width: 100%;padding: 0;}

.over{position: absolute;height: 100%;width: 100%;top: 0;left: 0;padding: 8%;}

.logo img{display: block;height: 150px;float: right;}

.bg-image{position: absolute;display: block;height: 68%;width: 430px;background: url("../images/bg-home.png") no-repeat center center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;-webkit-background-repeat: no-repeat;-moz-background-repeat: no-repeat;-o-background-repeat: no-repeat;background-repeat: no-repeat;background-position: center;left: 127px;top: 16%;z-index: 1;}

.title{position: absolute;max-width: 530px;color: #FFFFFF;font-family: 'Montserrat', sans-serif;font-size: 36px;font-weight: bold;line-height: 55px;letter-spacing: 0.02em;display: block;;top: 16%;left:calc(27% + 28px);z-index: 4}

.title em{font-family: 'Libre Baskerville', serif;font-weight: 400;font-style: italic;}

#stripes{display: block;height: 40px;width: 60%;background-image: repeating-linear-gradient(135deg,rgba(255, 255, 255, .85) 0%, rgba(255, 255, 255, .55) 10%, transparent 15%, transparent 50%);background-size: 10px 10px;position: relative;left: 10%;bottom: 2.5vh;}

.bg{height: 100%;width: 73%;background: linear-gradient(45deg, rgba(12, 114, 144, 1) 0%, rgba(34, 170, 226, 1) 80%);display: block;float: right;z-index:0;}

.text{display: block;position: absolute;max-width: 612px;color: #FFFFFF;font-family: 'Montserrat', sans-serif;font-size: 16px;line-height: 24px;top: 57%;margin-left: 22%;z-index: 3;}

#mc_embed_signup_scroll input{display:block;height: 50px;width: 250px;border-radius: 25px;border: 0;text-align: center;font-family: 'Montserrat', sans-serif;font-size: 12px;line-height: 15px;}.email input::-webkit-input-placeholder {color:#d9d9d9;}.email input:-moz-placeholder {color:#d9d9d9;opacity:1;}.email input::-moz-placeholder {color:#d9d9d9;opacity:1;}.email input:-ms-input-placeholder {color:#d9d9d9;}.email input:focus{color: #595959;}

.emailform{display: block;position: absolute;top: 60%;left: calc(127px + 85px);z-index: 15;}

#mce-EMAIL:hover{color:black;}

#mce-EMAIL:after{content: '';display: block;clear: both;}

#mc-embedded-subscribe{font-size:12px;text-align: center;color: rgba(34, 170, 226, 1);font-family: 'Montserrat',sans-serif;background-color: white;margin-top: 10px;}

#mc-embedded-subscribe:hover {cursor: pointer;-moz-box-shadow:  0px 10px 20px 0px  rgba(0, 0, 0, 0.3);-webkit-box-shadow:  0px 10px 20px 0px  rgba(0, 0, 0, 0.3);box-shadow:  0px 10px 20px 0px rgba(0, 0, 0, 0.3);transition: all 300ms cubic-bezier(0,.63,.55,1);}

.warntext{width: 250px;text-align: center;font-family: 'Montserrat', sans-serif;font-size: 12px;line-height: 15px;color: #FFF;margin-top: 12px;}

#contato{font-family: 'Montserrat', sans-serif;font-size: 12px;line-height: 15px;position: absolute;bottom: 16%;right: 8%;}

#contato a:link, :visited, :hover, :active {color: white;text-decoration: none;}

/*@media only screen and (max-width : 540px) {}*/